In [1]:
list1 = [1, 2, 3]

In [5]:
list2 = list((1,2,3))

In [6]:
print(type(list1), type(list2))

<class 'list'> <class 'list'>

In [7]:
type((1, 2, 3))

tuple

In [10]:
tuple1 = (1, 2, 3, 4)

In [11]:
tuple1[0] = 2

TypeError: 'tuple' object does not support item assignment

In [12]:
list2 = list(tuple1)

In [13]:
list2

[1, 2, 3, 4]

In [16]:
tup = tuple(list2)

In [17]:
print(tup, type(tup))

(2, 2, 3, 4) <class 'tuple'>

In [14]:
list2[0] = 2

In [15]:
list2

[2, 2, 3, 4]

In [18]:
a = 2

In [19]:
if(type(a) == int) :
    print('Something')

Something

In [29]:
def sums(*args) :
    total = 0
    for i in args :
        total += i
    return total

In [30]:
sums(5, 6, 6, 1, 2, 3)

23

In [31]:
def func(*args) :
    for i in args :
        print(i)

In [32]:
func('abc', 'def', 'dfsd', 'dfsd')

abc
def
dfsd
dfsd

In [33]:
def sums(a, b) :
    return a+b

In [34]:
#lambda functions

In [35]:
func = lambda x,y : x + y

In [36]:
func(4, 5)

9

In [37]:
func2 = lambda x : x * x *x 
func2(5)

125

In [38]:
# lambda parameters : expression

In [42]:
func2 = lambda x, y : x if(x > y) else y

In [43]:
func2(5, 2)

5

In [47]:
func3 = lambda x : True if(x > 40) else False

In [49]:
func3(300)

True

In [50]:
# Map Filter Reduce
l1 = [1, 2, 3, 4, 5, 6, 7]
# l2 = [2, 4, 6, 8, 10, 12, 14]
l2 = []
for i in l1 :
    l2.append(i * 2)
l2

[2, 4, 6, 8, 10, 12, 14]

In [52]:
l2 = list(map(lambda x : 3 *x, l1))
print(l2)

[3, 6, 9, 12, 15, 18, 21]

In [56]:
type(map(lambda x : 3 *x, l1))

map

In [57]:
def func(x) :
    return 2*x

In [58]:
l2 = list(map(func, l1))
print(l2)

[2, 4, 6, 8, 10, 12, 14]

In [59]:
l1 = ['asasd', 'asdas', 'asdasdas', 'asdsa']
l2 = list(map(lambda x : x.upper(), l1))
print(l2)

['ASASD', 'ASDAS', 'ASDASDAS', 'ASDSA']

In [60]:
#filter
scores = [28, 30, 39, 40, 45, 60, 98, 95]
# passing criteria score > 40
passed = list(filter(lambda x : True if (x > 40) else False, scores))

In [61]:
passed

[45, 60, 98, 95]

In [62]:
type(filter(lambda x : True if (x > 40) else False, scores))

filter

In [63]:
passed2 = list(filter(lambda x : x > 40, scores))
print(passed2)

[45, 60, 98, 95]

In [71]:
#Step Function

In [66]:
s = 'abcde'

In [67]:
s[::2]

'ace'

In [68]:
s[0:5:1]

'abcde'

In [69]:
s[::3]

'ad'

In [70]:
s[::-1]

'edcba'

In [75]:
l1 = ['abba' , 'nadan', 'agga', 'fdsf', 'fdswe', 'wefds']
l2 = list(filter(lambda x : x == x[::-1], l1))
print(l2)

['abba', 'nadan', 'agga']

In [77]:
#Reduce
from functools import reduce

In [79]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8]
sum2 = reduce(lambda x,y : x+y, l1)
sum2

36

In [80]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8]

In [81]:
l2 = [i*2 for i in l1]
print(l2)

[2, 4, 6, 8, 10, 12, 14, 16]

In [82]:
a = input()

1 2 3 4 5 6

In [88]:
inputs = [int(i) for i in input().split()]

1    2 3 4 5 6

In [89]:
inputs

[1, 2, 3, 4, 5, 6]

In [93]:
set([1,2,3,4,4,5,5])

{1, 2, 3, 4, 5}

In [94]:
{1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}