In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df= pd.read_csv("iris.csv")

In [4]:
df.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [5]:
df['Species'].value_counts()

Iris-virginica     50
Iris-setosa        50
Iris-versicolor    50
Name: Species, dtype: int64

In [6]:
df.Species[df.Species=='Iris-virginica'] = 1
df.Species[df.Species=='Iris-setosa'] = 2
df.Species[df.Species=='Iris-versicolor'] = 3

E:\INSTALLED\Anaconda\envs\deeplearning\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
E:\INSTALLED\Anaconda\envs\deeplearning\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

E:\INSTALLED\Anaconda\envs\deeplearning\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0   1            5.1           3.5            1.4           0.2       2
1   2            4.9           3.0            1.4           0.2       2
2   3            4.7           3.2            1.3           0.2       2
3   4            4.6           3.1            1.5           0.2       2
4   5            5.0           3.6            1.4           0.2       2

In [8]:
df['Species'].value_counts()

3    50
2    50
1    50
Name: Species, dtype: int64

In [9]:
df.shape
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [10]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
# from sklearn.metrics import confusion_matrix

In [11]:
knn = KNeighborsClassifier(n_neighbors=5,metric='minkowski',p=2) #n_neighbors = k, p=1 ->manhatton , p=2 ->eucl

In [12]:
x = df[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]  # indip...

In [13]:
y = df[['Species']]  #dependent variable

In [14]:
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=.2,random_state = 42)   # train 80% test 20% (42 ? 1,2,3)

In [15]:
X_train.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
22            4.6           3.6            1.0           0.2
15            5.7           4.4            1.5           0.4
65            6.7           3.1            4.4           1.4
11            4.8           3.4            1.6           0.2
42            4.4           3.2            1.3           0.2

In [16]:
X_train.shape

(120, 4)

In [17]:
Y_train.shape

(120, 1)

In [18]:
Y_train.head()

   Species
22       2
15       2
65       3
11       2
42       2

In [19]:
Y_train.head()
Y_train=Y_train.astype('int')

In [20]:
knn.fit(X_train,Y_train)

E:\INSTALLED\Anaconda\envs\deeplearning\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [21]:
pred = knn.predict(X_test)

In [22]:
pred

array([3, 2, 1, 3, 3, 2, 3, 1, 3, 3, 1, 2, 2, 2, 2, 3, 1, 3, 3, 1, 2, 1,
       2, 1, 1, 1, 1, 1, 2, 2])

In [23]:
Y_test

    Species
73        3
18        2
118       1
78        3
76        3
31        2
64        3
141       1
68        3
82        3
110       1
12        2
36        2
9         2
19        2
56        3
104       1
69        3
55        3
132       1
29        2
127       1
26        2
128       1
131       1
145       1
108       1
143       1
45        2
30        2