In [1]:
import pandas as pd
dataset = pd.read_csv('Dataset.csv')

In [2]:
dataset.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [3]:
# Regression :
dataset.shape

(8523, 12)

In [4]:
dataset.shape[0]

8523

In [5]:
dataset.shape[1]

12

In [6]:
dataset.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [7]:
dataset.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [8]:
## Object
object_ = []
float_ = []
for column in dataset.columns:
    if dataset[column].dtype == 'O':
        object_.append(column)
    else:
        float_.append(column)
print(object_, float_)

['Item_Identifier', 'Item_Fat_Content', 'Item_Type', 'Outlet_Identifier', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type'] ['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Outlet_Establishment_Year', 'Item_Outlet_Sales']

In [9]:
object_ = [column for column in dataset.columns if dataset[column].dtype == 'O']
print(object_)

['Item_Identifier', 'Item_Fat_Content', 'Item_Type', 'Outlet_Identifier', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type']

In [10]:
float_ = [column for column in dataset.columns if dataset[column].dtype == 'float64']
print(float_)

['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Item_Outlet_Sales']

In [11]:
dataset['Item_Outlet_Sales'].dtype

dtype('float64')

In [12]:
int_ = [column for column in dataset.columns if dataset[column].dtype == 'int64']
print(int_)

['Outlet_Establishment_Year']

In [87]:
object_ = [column for column in dataset.columns if dataset[column].dtype == 'O']
number_ = [column for column in dataset.columns if dataset[column].dtype == 'float64' or dataset[column].dtype == 'int64']
print('Object : ', object_, '\nNumber:', number_)

Object :  ['Item_Identifier', 'Item_Fat_Content', 'Item_Type', 'Outlet_Identifier', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type']
Number: ['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Outlet_Establishment_Year', 'Item_Outlet_Sales']

In [14]:
dataset.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [15]:
dataset['Item_Weight'].isnull().sum()

1463

In [16]:
dataset['Item_Fat_Content'].nunique()

5

In [17]:
dataset['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [18]:
dataset['Item_Visibility'].describe()

count    8523.000000
mean        0.066132
std         0.051598
min         0.000000
25%         0.026989
50%         0.053931
75%         0.094585
max         0.328391
Name: Item_Visibility, dtype: float64

In [19]:
# impute dataset['Item_Visibility'] = 0 to mean 
# Remove column with more than 30% or 50% null values
# Univariate analysis
# Use map and apply
# dataset['Item_Visibility'] check and map column names

In [36]:
dataset.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [20]:
dataset.isnull().sum()/len(dataset) * 100

Item_Identifier               0.000000
Item_Weight                  17.165317
Item_Fat_Content              0.000000
Item_Visibility               0.000000
Item_Type                     0.000000
Item_MRP                      0.000000
Outlet_Identifier             0.000000
Outlet_Establishment_Year     0.000000
Outlet_Size                  28.276428
Outlet_Location_Type          0.000000
Outlet_Type                   0.000000
Item_Outlet_Sales             0.000000
dtype: float64

In [21]:
len(dataset[dataset['Item_Visibility'] == 0.000000])

526

In [22]:
def impute_item_visibility(val):
    if val == 0.000000:
        return dataset['Item_Visibility'].mean()
    else:
        return val

In [26]:
dataset['Item_Visibility'] = dataset['Item_Visibility'].apply(lambda x: impute_item_visibility(x))

In [27]:
len(dataset[dataset['Item_Visibility'] == 0.000000])

0

In [29]:
dataset['Item_Visibility'].head(15)

0     0.016047
1     0.019278
2     0.016760
3     0.066132
4     0.066132
5     0.066132
6     0.012741
7     0.127470
8     0.016687
9     0.094450
10    0.066132
11    0.045464
12    0.100014
13    0.047257
14    0.068024
Name: Item_Visibility, dtype: float64

In [30]:
dataset['Item_Weight'].head()

0     9.30
1     5.92
2    17.50
3    19.20
4     8.93
Name: Item_Weight, dtype: float64

In [44]:
import math
def impute_item_weight(val):
    if math.isnan(val):
        return dataset['Item_Weight'].mean()
    else:
        return val

In [45]:
dataset['Item_Weight'].mean()

12.857645184136183

In [46]:
dataset[dataset['Item_Weight'].isnull()]['Item_Weight'][:5]

7    NaN
18   NaN
21   NaN
23   NaN
29   NaN
Name: Item_Weight, dtype: float64

In [47]:
dataset['Item_Weight'] = dataset['Item_Weight'].apply(lambda x: impute_item_weight(x))

In [49]:
dataset.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [50]:
dataset['Item_Weight'].head(15)

0      9.300000
1      5.920000
2     17.500000
3     19.200000
4      8.930000
5     10.395000
6     13.650000
7     12.857645
8     16.200000
9     19.200000
10    11.800000
11    18.500000
12    15.100000
13    17.600000
14    16.350000
Name: Item_Weight, dtype: float64

In [51]:
dataset['Outlet_Size'].head(15)

0     Medium
1     Medium
2     Medium
3        NaN
4       High
5     Medium
6       High
7     Medium
8        NaN
9        NaN
10    Medium
11     Small
12    Medium
13     Small
14      High
Name: Outlet_Size, dtype: object

In [53]:
type(dataset.loc[3,'Outlet_Size'])

float

In [59]:
dataset['Outlet_Size'].mode()[0]

'Medium'

In [82]:
def impute_outlet_size(val):
    if val == 'nan':
        return dataset['Outlet_Size'].mode()[0]
    else:
        return val

In [83]:
dataset['Outlet_Size'] = dataset['Outlet_Size'].apply(lambda x: impute_outlet_size(str(x)))

In [84]:
dataset.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

# Data Exploration

In [85]:
dataset['Outlet_Size'].head(15)

0     Medium
1     Medium
2     Medium
3     Medium
4       High
5     Medium
6       High
7     Medium
8     Medium
9     Medium
10    Medium
11     Small
12    Medium
13     Small
14      High
Name: Outlet_Size, dtype: object

In [88]:
dataset['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [89]:
len(dataset)

8523

In [90]:
(dataset['Item_Fat_Content'].value_counts() / len(dataset)) * 100

Low Fat    59.709023
Regular    33.896515
LF          3.707615
reg         1.372756
low fat     1.314091
Name: Item_Fat_Content, dtype: float64

In [91]:
(dataset['Item_Type'].value_counts() / len(dataset)) * 100

Fruits and Vegetables    14.455004
Snack Foods              14.079549
Household                10.676992
Frozen Foods             10.043412
Dairy                     8.001877
Canned                    7.614690
Baking Goods              7.602957
Health and Hygiene        6.101138
Soft Drinks               5.221166
Meat                      4.986507
Breads                    2.944972
Hard Drinks               2.510853
Others                    1.982870
Starchy Foods             1.736478
Breakfast                 1.290625
Seafood                   0.750909
Name: Item_Type, dtype: float64

In [92]:
(dataset['Outlet_Identifier'].value_counts() / len(dataset)) * 100

OUT027    10.970316
OUT013    10.935117
OUT049    10.911651
OUT046    10.911651
OUT035    10.911651
OUT045    10.899918
OUT018    10.888185
OUT017    10.864719
OUT010     6.511792
OUT019     6.195002
Name: Outlet_Identifier, dtype: float64

In [93]:
(dataset['Outlet_Size'].value_counts() / len(dataset)) * 100

Medium    61.046580
Small     28.018303
High      10.935117
Name: Outlet_Size, dtype: float64

In [94]:
(dataset['Outlet_Location_Type'].value_counts() / len(dataset)) * 100

Tier 3    39.305409
Tier 2    32.676288
Tier 1    28.018303
Name: Outlet_Location_Type, dtype: float64

In [95]:
(dataset['Outlet_Type'].value_counts() / len(dataset)) * 100

Supermarket Type1    65.434706
Grocery Store        12.706793
Supermarket Type3    10.970316
Supermarket Type2    10.888185
Name: Outlet_Type, dtype: float64

In [99]:
for column in list(dataset.columns):
    print(f'---------{column} analysis--------------')
    print((dataset[column].value_counts() / len(dataset)) * 100)
    print()
    print()

---------Item_Identifier analysis--------------
FDG33    0.117330
FDW13    0.117330
FDX04    0.105597
FDG09    0.105597
NCQ06    0.105597
           ...
DRF48    0.011733
FDT35    0.011733
FDY43    0.011733
FDE52    0.011733
FDO33    0.011733
Name: Item_Identifier, Length: 1559, dtype: float64


---------Item_Weight analysis--------------
12.857645    17.165317
12.150000     1.009034
17.600000     0.962103
13.650000     0.903438
11.800000     0.891705
               ...
7.560000      0.023466
9.420000      0.011733
5.400000      0.011733
6.520000      0.011733
7.685000      0.011733
Name: Item_Weight, Length: 416, dtype: float64


---------Item_Fat_Content analysis--------------
Low Fat    59.709023
Regular    33.896515
LF          3.707615
reg         1.372756
low fat     1.314091
Name: Item_Fat_Content, dtype: float64


---------Item_Visibility analysis--------------
0.066132    6.171536
0.076975    0.035199
0.096592    0.023466
0.104784    0.023466
0.058919    0.023466
              ...
0.067544    0.011733
0.115168    0.011733
0.146896    0.011733
0.081119    0.011733
0.037218    0.011733
Name: Item_Visibility, Length: 7880, dtype: float64


---------Item_Type analysis--------------
Fruits and Vegetables    14.455004
Snack Foods              14.079549
Household                10.676992
Frozen Foods             10.043412
Dairy                     8.001877
Canned                    7.614690
Baking Goods              7.602957
Health and Hygiene        6.101138
Soft Drinks               5.221166
Meat                      4.986507
Breads                    2.944972
Hard Drinks               2.510853
Others                    1.982870
Starchy Foods             1.736478
Breakfast                 1.290625
Seafood                   0.750909
Name: Item_Type, dtype: float64


---------Item_MRP analysis--------------
172.0422    0.082131
188.1872    0.070398
170.5422    0.070398
109.5228    0.070398
196.5084    0.070398
              ...
212.8218    0.011733
190.3872    0.011733
162.6868    0.011733
189.1214    0.011733
51.3008     0.011733
Name: Item_MRP, Length: 5938, dtype: float64


---------Outlet_Identifier analysis--------------
OUT027    10.970316
OUT013    10.935117
OUT049    10.911651
OUT046    10.911651
OUT035    10.911651
OUT045    10.899918
OUT018    10.888185
OUT017    10.864719
OUT010     6.511792
OUT019     6.195002
Name: Outlet_Identifier, dtype: float64


---------Outlet_Establishment_Year analysis--------------
1985    17.165317
1987    10.935117
1999    10.911651
1997    10.911651
2004    10.911651
2002    10.899918
2009    10.888185
2007    10.864719
1998     6.511792
Name: Outlet_Establishment_Year, dtype: float64


---------Outlet_Size analysis--------------
Medium    61.046580
Small     28.018303
High      10.935117
Name: Outlet_Size, dtype: float64


---------Outlet_Location_Type analysis--------------
Tier 3    39.305409
Tier 2    32.676288
Tier 1    28.018303
Name: Outlet_Location_Type, dtype: float64


---------Outlet_Type analysis--------------
Supermarket Type1    65.434706
Grocery Store        12.706793
Supermarket Type3    10.970316
Supermarket Type2    10.888185
Name: Outlet_Type, dtype: float64


---------Item_Outlet_Sales analysis--------------
958.7520     0.199460
1342.2528    0.187727
1845.5976    0.175994
703.0848     0.175994
1278.3360    0.164261
               ...
3167.8764    0.011733
2226.4352    0.011733
1684.4740    0.011733
1574.6170    0.011733
6692.6216    0.011733
Name: Item_Outlet_Sales, Length: 3493, dtype: float64

In [101]:
dataset['Item_Weight'].isnull().sum()

0

In [102]:
dataset.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [103]:
 dataset['Item_Weight'].fillna(dataset['Item_Weight'].mean(), inplace=True)

In [104]:
dataset.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

## Bivariate Analysis

In [105]:
dataset.pivot_table(index='Outlet_Type', values='Item_Outlet_Sales')

                   Item_Outlet_Sales
Outlet_Type
Grocery Store             339.828500
Supermarket Type1        2316.181148
Supermarket Type2        1995.498739
Supermarket Type3        3694.038558

In [106]:
dataset.pivot_table(index='Outlet_Location_Type', values='Item_Outlet_Sales')

                      Item_Outlet_Sales
Outlet_Location_Type
Tier 1                      1876.909159
Tier 2                      2323.990559
Tier 3                      2279.627651

In [107]:
dataset.pivot_table(index=['Outlet_Type', 'Outlet_Location_Type'], values='Item_Outlet_Sales')

                                        Item_Outlet_Sales
Outlet_Type       Outlet_Location_Type
Grocery Store     Tier 1                       340.329723
                  Tier 3                       339.351662
Supermarket Type1 Tier 1                      2313.099451
                  Tier 2                      2323.990559
                  Tier 3                      2298.995256
Supermarket Type2 Tier 3                      1995.498739
Supermarket Type3 Tier 3                      3694.038558

In [108]:
dataset['Outlet_Establishment_Year']

0       1999
1       2009
2       1999
3       1998
4       1987
        ...
8518    1987
8519    2002
8520    2004
8521    2009
8522    1997
Name: Outlet_Establishment_Year, Length: 8523, dtype: int64

In [109]:
dataset['Age_of_Company'] = 2020 - dataset['Outlet_Establishment_Year']

In [110]:
dataset.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Age_of_Company
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,21
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,11
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,21
3,FDX07,19.20,Regular,0.066132,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800,22
4,NCD19,8.93,Low Fat,0.066132,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,33

In [111]:
dataset['Age_of_Company'].describe()

count    8523.000000
mean       22.168133
std         8.371760
min        11.000000
25%        16.000000
50%        21.000000
75%        33.000000
max        35.000000
Name: Age_of_Company, dtype: float64

In [113]:
dataset['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [114]:
dataset['Item_Fat_Content'] = dataset['Item_Fat_Content'].replace({'LF': 'Low Fat', 'reg': 'Regular', 'low fat': 'Low Fat'})

In [115]:
dataset['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [133]:
from sklearn.linear_model import LinearRegression
X = dataset[['Age_of_Company', 'Item_MRP', 'Item_Visibility']]
Y = dataset['Item_Outlet_Sales']

In [134]:
reg = LinearRegression().fit(X, Y)

In [135]:
reg.score(X, Y)

0.3432423069314895

In [136]:
dataset['Outlet_Size'].value_counts()

Medium    5203
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [137]:
dataset['Outlet_Size'] = dataset['Outlet_Size'].map({'Small': 0, 'Medium': 1, 'High': 2})

In [139]:
X = dataset[['Age_of_Company', 'Item_MRP', 'Item_Visibility', 'Outlet_Size']]
Y = dataset['Item_Outlet_Sales']

In [140]:
reg = LinearRegression().fit(X, Y)

In [141]:
reg.score(X, Y)

0.34803660791145574

In [142]:
dataset.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Age_of_Company
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,1,Tier 1,Supermarket Type1,3735.1380,21
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,1,Tier 3,Supermarket Type2,443.4228,11
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,1,Tier 1,Supermarket Type1,2097.2700,21
3,FDX07,19.20,Regular,0.066132,Fruits and Vegetables,182.0950,OUT010,1998,1,Tier 3,Grocery Store,732.3800,22
4,NCD19,8.93,Low Fat,0.066132,Household,53.8614,OUT013,1987,2,Tier 3,Supermarket Type1,994.7052,33